---
import BaseLayout from "../layouts/BaseLayout.astro";
const PageTitle = "Blog";
const Description = "Welcome to my Blog"
---

<BaseLayout pageTitle={PageTitle} siteDescription={Description}>
<div>
    <h1>Blog Posts</h1>
    <p>this is the blogpost page</p>
</div>
</BaseLayout>