---
import BaseLayout from '../layouts/BaseLayout.astro'
const PageTitle = "Home";
const Description = "Welcome to Aaron Endsley's Portfolio Site"
import '@fontsource/roboto';
import '@fontsource/open-sans'
---

		<BaseLayout pageTitle={PageTitle} siteDescription={Description}>
		<div class="index-hero">
			<h2>
				<span>Hello World!</span>
				<span>I'm Aaron!</span>
			</h2>
			<div class="hero-image-container">
				<img class="hero-image" src="../../src/images/Aaron.jpg" alt="Aaron Endsley" />
			</div>
		</div>
		<div class="index-content">
			<section class="post-decorator">
				<h3>I want to solve problems that help others by making their work more productive!</h3>
				<hr/>
				<p>
					&emsp; I have been writing code for web pages since I was twelve years old, when my Dad taught me how to write HTML. I went to college and earned a bachelors degree in Multimedia Design, shortly after, I discovered CSS, and then
					JavaScript. I am self taught and have been a front end web developer
					professionally for the last eight years. I love to learn new web technologies and experiment with them. I am from Lawton, Oklahoma. I am a Christian, husband and a dad to four, I love playing video games, reading, and watching Star Trek with my kids!
				</p>
				<div class="image-decorator">
					<img
						class="content-image"
						src="../../src/images/Aaron_in_Space.jpg"
						alt="Aaron Endsley in a SpaceShip made for his children"
					/>
				</div>
				<p>
					&emsp; Above you will find my Portfolio and my Blog. If you would like to reach me click the buttons below to send me a message on Linked-in or send an Email. If you would like to look at any of my code you will also find a link to my github account below.
				</p>
				<p>Soli Deo Gloria <span> - Aaron Endsley</span></p>
			</section>
		</div>
	</BaseLayout>

<style>
	h3{
		font-size: 1.5rem;
		text-transform: capitalize;
		padding: 20px;
	}
	hr{
		display: block;
		margin: 40px auto;
		width:150px;
		border: solid .5px var(--green);
	}
	.index-hero {
		width: 80%;
		margin: 35px auto;
		display: flex;
		flex-direction: column;
	}

	.index-hero h2 span {
		font-family: 'Roboto';
		font-size: 3.5rem;
		display: flex;
		flex: 1;
		justify-content: center;
	}

	.index-hero h2 span:nth-child(2) {
		color: var(--green);
		margin-left: 10px;
	}

	.hero-image-container {
		width: 100%;
	}

	:global(.hero-image {
		border: solid 3px var(--green);
		border-radius: 100%;
		height: 200px;
		width: 200px;
		margin: 0 auto;
		display: flex;
	}
	.content-image{
		width:100%;
		height: fit-content;
	}
	)


	.index-content {
		width: 80%;
		margin: 0 auto;
	}

	.index-content p {
		padding: 10px;
		font-size: 1.2rem;
		font-family: 'Open Sans';
	}

	@media (min-width: 800px) {
		.index-hero {
			width: 600px;
			flex-direction: row;
		}

		.index-hero h2 span {
			margin: 0;
			white-space: nowrap;
		}

		.hero-image {
			height: 200px;
			width: 200px;
			margin-left: 20px;
		}

		.index-content {
			width: 750px;
		}
	}
</style>
