---
import BaseLayout from "../layouts/BaseLayout.astro";
const PageTitle = 'Portfolio';
const Description = "Welcome to my Portfolio"; 
---

<BaseLayout pageTitle = {PageTitle} siteDescription={Description}>
    <h1>Portfolio</h1>
    <p>Welcome to my portfolio</p>
</BaseLayout>