---
const {image, description, title, postLink} = Astro.props;
---
<a href={postLink}>
<div class="post">
<div class="post-image">
    <img src={image}/>
</div>
<div class="post-details">
    <h3>{title}</h3>
    <hr>
    <p>{description}</p>
</div>
</div>
</a>

<style>
    a{
        text-decoration: none;
    }

    hr{
        margin: 5px 0 0 10px; 
    }
    .post{
        width:80%;
        margin: 20px auto 40px auto;
        display: flex;
        color: #fff;
        border:2px solid rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        flex-direction: column;
    }

    

    .post-image {
        flex:2;
    }
    .post-image img{
        width: 90%;
        border-radius: 15px;
        margin: 15px auto;
        display:block;
        border: solid 2px var(--green);
    }

    .post-details{
        flex:4;
    }

    .post-details h3{
        color: var(--green);
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 0 0 0 10px; 
        margin: 10px 0 0 0;
    }

    .post-details p{
        padding: 10px;
        margin: 2px;
    }

    @media (min-width: 1000px){
        .post{
            width: 730px;
            flex-direction: row;
        }

        .post-image{
            flex:2;
        }
        
        .post-image img{
            margin-top: 13%;
            margin-left:10px;
        }
        .post-details{
            flex:6;
            margin-left: 10px;
        }
    }
</style>