---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';
import '@fontsource/roboto';
import '@fontsource/open-sans'
const {pageTitle, siteDescription} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={String(siteDescription)}/>
		<title>Aaron Endsley: Developer | {pageTitle}</title>
	</head>
	<body>
		<div class="layout">
		<Header/>
        <slot/>
		<Social/>
        <Footer/>
	</div>
	</body>
</html>

<style is:global>
	:root {
  --DarkBlue: #080329;
  --white: #fff;
  --green: #31efb8;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--DarkBlue);
  height: 100%;
  color: var(--white);
  scrollbar-color: var(--green) var(--DarkBlue);
}

p {
  font-size: 1.2rem;
  font-family: "open sans", sans-serif;
}
a {
  color: var(--green);
}
a:visited {
  color: var(--green);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open sans", sans-serif;
}

.container{
  width: 80%;
  margin: 10px auto;
  padding: 20px;
}
hr {
  display: block;
  margin: 40px auto;
  width: 150px;
  border: solid 0.5px var(--green);
}
main {
  min-height: 100%;
  margin-top: 175px;
}

.layout {
  position: relative;
  min-height: 100vh;
  margin-top: 10rem;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.post-decorator {
  position: relative;
}

.post-decorator:first-child {
  padding-top: 20px;
}

.post-decorator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  width: 50%;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--green);
}

.post-decorator::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  height: 4px;
  width: 50%;
  border-bottom: 1px solid var(--green);
}

.post-decorator p span {
  display: block;
  padding: 10px;
  margin-bottom: 30px;
}

.image-decorator {
  border-top: solid 1px var(--green);
  border-bottom: solid 1px var(--green);
  padding: 10px;
  width: 80%;
  margin: 10px auto;
}

.image-decorator img {
  border-radius: 10px;
}

@media(min-width: 1000px) {
  .container{
      width: 750px;
  }
}

</style>





